@layout('layouts.main')

@section('extracss')
@endsection

@section('title')
Future Shows
@endsection

@section('content')
    <div class="show_display">
        @each(show in shows)
          <li class="list-group-item"><a href="/future-shows/{{show.id}}">
          {{show.Show_title}}{{show.Show_date}}</a></li>
        @endeach
    </div>
@endsection
