<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Previous Shows</title>
    {{ style('reset') }}
    {{ style('style') }}
</head>

<body>
    <div class="container">
        <h1>Previous Shows</h1>
    </div>
</body>

</html>
