  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Virginia City Players</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>

    <div class="button_panel">
      <div class="button">
        Previous Shows
      </div>
      <div class="button">
        Future Shows
      </div>
      <div class="button">
        Seating Arrangement
      </div>
      <div class="button">
        Add Shows
      </div>
    </div>

    <div class="subtitle">
      <p>To view past shows click "Previous Shows"</p>
      <p>To view future scheduled shows click "Future Shows"</p>
      <p>To add a new show to the schedule click "Add Shows"</p>
      </p> To view the seating arrangement for a particular how, click "Seating Arrangement"</P>
    </div>
  </section>
</body>
</html>
