a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Verdana';
    background-color: #1A1A1D;
    padding: 10px;
    height: 100%;
}

button {
    margin: auto;
    background-color: #D6D6D7;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
}

button:hover {
    background-color: grey;
}

form {
    margin-bottom: 0px;
}

html {
    height: 100%;
}

h1 {
    color: #D6D6D7;
    text-align: center;
    font-size: large;
    padding: 15px;
    cursor: default;
}

input {
    float: right;
}

p {
    margin: auto;
    cursor: default;
}

.button-panel {
    padding: 45px;
    margin: auto;
    width: 33%;
}

.clear {
    clear: both;
}

.color1 {
    background-color: #950740;
}

.color2 {
    background-color: #C3073F;
}

.color3 {
    background-color: #6F2232;
}

.container {
    width: 66%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #4E4E50;
    border-radius: 25px 25px 0px 0px;
}

.custom_button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}

.custom_button a {
    display: block;
}

.custom_button:hover {
    background-color: grey;
    cursor: pointer;
}

.database_entry {
    margin: 25px;
    padding: 15px;
}

.footer {
    background-color: #7E685A;
    width: 66%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 25px 25px;
}

.footer_text {
    text-align: center;
    padding-bottom: 5px;
}

.footer_text a {
    color: #950740;
}

.form_container {
    padding: 15px;
}

.future_shows {
    width: 75%;
    margin: auto;
    padding: 10px;
    color: #D6D6D7;
}

.left {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.left_color {
    background-color: #7E685A;
}

.left_container {
    padding: 10px;
}

.left_container a:hover {
    color: #C3073F;
}

.logo {
    background: url("/vcplogo.jpg") no-repeat;
    width: 370px;
    height: 295px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.navbar {
    position: relative;
    text-align: center;
    padding: 10px;
}

.navbar a {
    padding: 10px;
}

.navbar a:hover {
    background-color: darkgrey;
    border-radius: 15px;
}

.navbar li {
    display: inline;
    background-color: #D6D6D7;
    border-radius: 15px;
}

.picture {
    margin: auto;
    width: 50%;
    display: block;
}

.previous_show_data {
    width: auto;
    margin: auto;
    cursor: default;
}

.print_section {
    width: 66%;
    margin: auto;
    height: 150px;
}

.right {
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.right button {
    float: right;
}

.show_display {
    width: 66%;
    text-align: center;
    color: #D6D6D7;
    padding: 15px;
    margin: auto;
}

.show_display a {
    color: #D6D6D7;
}

.show_input {
    height: 30px;
    width: 66%;
    margin: auto;
    padding: 10px;
    font-size: larger;
}

.subtitle {
    padding: 15px;
    color: #D6D6D7;
    font-size: 17px;
    text-align: center;
    line-height: 2;
    opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

.undo {
    width: 210px;
    height: 30px;
    margin: auto;
    padding: 5px;
}

#add_ticket_db {
    padding-bottom: 0px;
    margin-bottom: 0px;
    cursor: default;
}

#print_tickets_db a:hover {
    color: #950740;
}

#submit_container {
    height: 28px;
    width: 90px;
    margin: auto;
    padding: 10px;
}

#submit_container button {
    width: 90px;
}

@keyframes slideUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    50% {
        opacity: 0.2%;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}