@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #6b6b69;
}

* {
  margin: 0;
  padding: 0;
}

.button_panel {
  display: inline-block;
  color: rgb(153, 255, 204);
  padding: 50px;
  height: 200px;
  width: 33%;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.logo {
  background: url("/vcplogo.jpg") no-repeat;
  width: 370px;
  height: 295px;
  background-size: 100%;
  margin-bottom: 35px;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.button {
  /* background-color: #e7e7e7; */
  /*background-color: #99ffcc -or- rgb(153, 255, 204)*/
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px;
}

/* .prevbutton {
  position: absolute;
  left: 50px;
  top: 448px;
}

.futbutton {
  position: absolute;
  top: 448px;
}

.addbutton {
  position: absolute;
  left: 350px;
  top: 448px;
} */


.subtitle {
  margin-top: 25px;
  color: #BDB3CB;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}


a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0.83rem 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
