<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('reset') }}
    {{ style('style') }}

    @!section('extracss')

    <title> 
        @!section('title')
    </title>
</head>

<body>
    <div class="container">
        <h1>
            @!section('title')
        </h1>

        @!section('content')
    </div>

    <div class="footer">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/previous-shows">Previous Shows</a></li>
                <li><a href="/future-shows">Future Shows</a></li>
                <li><a href="/add-show">Add Shows</a></li>
                <li><a href="/print-tickets">Print Tickets</a></li>
            </ul>
        </nav>
        <div class="footer_text">
            <br><a href="https://github.com/PeytonEllis/ESOF">GitHub</a>
        </div>
    </div>
</body>

</html>
